@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<h3>@ViewBag.Message</h3>


<div class="container-fluid">
    <h1> We Focus on Software of the Portland, Oregon area.</h1><hr />

    <br />

    <p>
        We search the individual web sites of Portland Area companies.
        We search for various types of Software Developer Jobs: Front-End
        Development, Back-End Development, Full-Stack, Big Data, UI/UX, QA Validation,
        DevOps and Customer-Facing roles. We aim to be the best,
        laser focused site on companies that code their own software.
        Don't see a PDX area company that you think should be here - Let us know!
    </p>

    <br />
    <br />
    <hr />
    <hr />

    <h1>Are you an Employer?</h1>
    <p><h2>Don't see your job here yet?</h2>

    <br />

        <button onclick="location.href='Contact'" class="fa fa-envelope">&nbsp Add a Job</button>
        <b>&nbsp; ~ It's Free!</b>
    </p>
</div>
